$primaryColor: #222222;
$primaryColor1: #1f1f1f;
$secondaryColor: #fefefe;
$secondaryColor1: hsl(0, 0%, 52%);
$smallBgColor: #f06c50;
$importantColor: #e27c61;

//fonts

$poppins: "Poppins", sans-serif;
$railway: "Raleway", sans-serif;
