* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main .navbar {
  background: #222222 !important;
}
.main .navbar-brand,
.main .navbar .nav-link {
  color: #fefefe !important;
}
.main .navbar-brand-container {
  flex: 1;
}
.main .navbar .navbar-brand {
  background: linear-gradient(to bottom, #b4494f, #f06c50);
  color: #fefefe !important;
  padding: 0.5rem 1rem;
}
.main .navbar-list {
  flex: 1;
}
.main .navbar-list .navbar-nav .nav-item {
  margin: 0 1rem !important;
}
.main .hero {
  background: #222222 !important;
  padding: 10% 0;
}
.main .hero .hero-container {
  height: 100% !important;
}
.main .hero .hero-container .hero-row {
  height: 100% !important;
}
.main .hero .hero-container .hero-row .hero-name {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  color: #e27c61 !important;
}
.main .hero .hero-container .hero-row p {
  color: #fefefe !important;
}
.main .hero .hero-container .hero-row p span {
  color: #e27c61 !important;
}
.main .hero .hero-container .hero-row .resume {
  color: #fefefe !important;
  border: 2px solid #e27c61;
  font-family: "Raleway", sans-serif !important;
  background: linear-gradient(to bottom, #222222, #1f1f1f);
  box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 0.1254901961);
}
.main .about {
  background: #1f1f1f;
  color: #fefefe !important;
  width: 100%;
}
.main .about .about-container {
  padding: 5% 0;
}
.main .about .about-container .about-col .about-img {
  width: 500px;
  height: 450px;
  object-fit: cover;
}
.main .about .about-container .about-col .about-img .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .about .about-container .about-col .about-info .about-text {
  line-height: 2rem;
  color: #848484 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.main .about .about-container .about-col .about-info .about-social {
  width: 100%;
}
.main .about .about-container .about-col .about-info .about-social .about-social-text {
  border-right: 2px solid #848484;
  border-left: 2px solid #848484;
  color: #00b4d8;
}
.main .about .about-container .about-col .about-info .about-social .about-icon {
  width: 50px;
  height: 50px;
  color: #fefefe;
  background: linear-gradient(to bottom, #222222, #1f1f1f);
  box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 0.1254901961);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about-header,
.main .education-header,
.main .skills-header {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
  letter-spacing: 1px;
}
.main .about-header h1,
.main .education-header h1,
.main .skills-header h1 {
  color: #e27c61 !important;
}
.main .education {
  background: #1f1f1f;
  padding: 5% 0;
}
.main .education .education-detail {
  margin: 1rem 0;
}
.main .education .education-detail .educations {
  width: 350px;
  height: 300px;
  color: #fefefe;
  background: linear-gradient(45deg, rgb(30, 32, 36), rgb(35, 39, 43));
  box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .education .education-detail .educations .date {
  color: #848484;
}
.main .education .education-detail .educations .program1 {
  color: #ef476f !important;
}
.main .education .education-detail .educations .program2 {
  color: #06d6a0;
}
.main .education .education-detail .educations .program3 {
  color: #00b4d8;
}
.main .education .education-detail .educations .institute {
  color: #e27c61;
}
.main .education .education-detail .educations .program {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.main .education .education-detail .educations .date,
.main .education .education-detail .educations .institute {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.main .education .education-detail .education-icon {
  width: 60px;
  height: 60px;
}
.main .education .education-detail .education-icon .svg {
  width: 100%;
  height: 100%;
}
.main .skills {
  background: #222222;
  padding: 5% 0;
}
.main .skills .skills-container .skills-header .div {
  width: 100px;
  height: 100px;
  background: #b4494f;
}
.main .skills .skills-container .skills-detail .common {
  margin: 1rem 0;
}
.main .skills .skills-container .skills-detail .common .skill-container {
  margin: 1rem 0;
}
.main .skills .skills-container .skills-detail .common .skill-container .skill-cont {
  margin-bottom: 0.5rem;
}
.main .skills .skills-container .skills-detail .common .common-text {
  color: #fefefe;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.main .skills .skills-container .skills-detail .common .skill-text,
.main .skills .skills-container .skills-detail .common .skill-percent {
  font-family: "Raleway", sans-serif;
  color: #848484;
}
.main .skills .skills-container .skills-detail .common .skill-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #212428;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4588235294), inset -8px -8px 16px rgba(56, 62, 69, 0.4588235294);
}
.main .skills .skills-container .skills-detail .common .skill-bar .skill-progress {
  background: linear-gradient(145deg, #e27c61 0%, #f06c50 100%);
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}/*# sourceMappingURL=global.css.map */