* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main .navbar {
  background: #222222 !important;
}
.main .navbar .navbar-desktop .nav-link:hover,
.main .navbar .navbar-mobile .nav-link:hover {
  color: #e27c61 !important;
}
.main .navbar-brand,
.main .navbar .nav-link {
  color: #fefefe !important;
}
.main .navbar-brand-container {
  flex: 1;
}
.main .navbar .navbar-brand {
  background: linear-gradient(to bottom, #b4494f, #f06c50);
  color: #fefefe !important;
  padding: 0.5rem 1rem;
}
.main .navbar .navbar-mobile {
  display: none;
}
.main .navbar .nav-toggler {
  display: none;
}
@media screen and (max-width: 992px) {
  .main .navbar header {
    position: relative;
  }
  .main .navbar .navbar-desktop {
    display: none;
  }
  .main .navbar .navbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #212428;
  }
  .main .navbar .navbar-mobile ul {
    text-align: center;
  }
  .main .navbar .navbar-mobile .nav-link {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 300 !important;
  }
  .main .navbar .menu-btn {
    width: 40px;
    height: 40px;
    background: rgba(250, 128, 114, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border: none;
    z-index: 1;
  }
  .main .navbar .menu-btn:hover .lines {
    background: linear-gradient(to bottom, #b4494f, #f06c50);
  }
  .main .navbar .nav-toggler .lines {
    height: 2px;
    background: #fefefe;
  }
}
.main .hero {
  background: #222222 !important;
  padding: 10% 0;
}
.main .hero .hero-container {
  height: 100% !important;
}
.main .hero .hero-container .hero-row {
  height: 100% !important;
}
.main .hero .hero-container .hero-row .hero-name {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  color: #e27c61 !important;
}
.main .hero .hero-container .hero-row p {
  color: #fefefe !important;
}
.main .hero .hero-container .hero-row p span {
  color: #e27c61 !important;
}
.main .hero .hero-container .hero-row .resume {
  color: #fefefe !important;
  border: 2px solid #e27c61;
  font-family: "Raleway", sans-serif !important;
  background: linear-gradient(to bottom, #222222, #1f1f1f);
  box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 0.1254901961);
}
.main .about {
  background: #1f1f1f;
  color: #fefefe !important;
  width: 100%;
}
.main .about .about-container {
  padding: 5% 0;
}
.main .about .about-container .about-col .about-img {
  width: 500px;
  height: 450px;
  object-fit: cover;
}
@media screen and (max-width: 762px) {
  .main .about .about-container .about-col .about-img {
    width: 100% !important;
  }
}
.main .about .about-container .about-col .about-img .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .about .about-container .about-col .about-info {
  height: 450px !important;
}
.main .about .about-container .about-col .about-info .about-text {
  line-height: 2rem;
  color: #c4cfde !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.main .about .about-container .about-col .about-info .about-social {
  width: 100%;
}
.main .about .about-container .about-col .about-info .about-social .about-social-text {
  border-right: 2px solid #c4cfde;
  border-left: 2px solid #c4cfde;
  color: #00b4d8;
}
.main .about .about-container .about-col .about-info .about-social .about-icon {
  width: 50px;
  height: 50px;
  color: #fefefe;
  background: linear-gradient(to bottom, #222222, #1f1f1f);
  box-shadow: 0px 0px 20px 0px rgba(242, 242, 242, 0.1254901961);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about-header,
.main .education-header,
.main .skills-header,
.main .services-header,
.main .portfolio-header {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
  letter-spacing: 1px;
}
.main .about-header h1,
.main .education-header h1,
.main .skills-header h1,
.main .services-header h1,
.main .portfolio-header h1 {
  color: #e27c61 !important;
}
.main .education {
  background: #1f1f1f;
  padding: 5% 0;
}
.main .education .education-detail {
  margin: 1rem 0;
}
.main .education .education-detail .educations {
  width: 350px;
  height: 300px;
  color: #fefefe;
  background: linear-gradient(45deg, rgb(30, 32, 36), rgb(35, 39, 43));
  box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .education .education-detail .educations .date {
  color: #c4cfde;
}
.main .education .education-detail .educations .program1 {
  color: #f06c50 !important;
}
.main .education .education-detail .educations .program2 {
  color: #f06c50;
}
.main .education .education-detail .educations .program3 {
  color: #f06c50;
}
.main .education .education-detail .educations .institute {
  color: #c4cfde;
}
.main .education .education-detail .educations .program {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.main .education .education-detail .educations .date,
.main .education .education-detail .educations .institute {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.main .education .education-detail .education-icon {
  width: 60px;
  height: 60px;
}
.main .education .education-detail .education-icon .svg {
  width: 100%;
  height: 100%;
}
.main .skills {
  background: #222222;
  padding: 5% 0;
}
.main .skills .skills-container .skills-header .div {
  width: 100px;
  height: 100px;
  background: #b4494f;
}
.main .skills .skills-container .skills-detail .common {
  margin: 1rem 0;
}
.main .skills .skills-container .skills-detail .common .skill-container {
  margin: 1rem 0;
}
.main .skills .skills-container .skills-detail .common .skill-container .skill-cont {
  margin-bottom: 0.5rem;
}
.main .skills .skills-container .skills-detail .common .common-text {
  color: #fefefe;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.main .skills .skills-container .skills-detail .common .skill-text,
.main .skills .skills-container .skills-detail .common .skill-percent {
  font-family: "Raleway", sans-serif;
  color: #c4cfde;
}
.main .skills .skills-container .skills-detail .common .skill-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #212428;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4588235294), inset -8px -8px 16px rgba(56, 62, 69, 0.4588235294);
}
.main .skills .skills-container .skills-detail .common .skill-bar .skill-progress {
  background: linear-gradient(145deg, #e27c61 0%, #f06c50 100%);
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .services {
  background: #222222;
  padding: 5% 0;
}
.main .services .services-detail {
  margin: 1rem 0;
}
.main .services .services-detail .h2 {
  color: #fefefe;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 1rem 0;
}
.main .services .services-detail .p {
  color: #c4cfde;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 0 1rem;
}
.main .services .services-detail .services-icon .icon {
  color: #f06c50;
}
.main .services .services-detail .services-col {
  color: #fefefe;
  padding: 1rem 0;
  background: linear-gradient(45deg, rgb(30, 32, 36), rgb(35, 39, 43));
  box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px, rgb(38, 42, 46) -10px -10px 19px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .portfolio {
  padding: 5% 0;
  background: #212428;
}
.main .portfolio .portfolio-detail {
  margin: 1rem 0;
}
.main .portfolio .portfolio-detail .nav-pills .nav-link {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background: linear-gradient(145deg, #1e2024, #23272b);
  height: 70px;
  color: #fefefe;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.main .portfolio .portfolio-detail .nav-pills .active {
  color: #e27c61;
}
.main .portfolio .portfolio-detail .tab-content {
  margin-top: 2rem;
}
.main .portfolio .portfolio-detail .card {
  height: 280px !important;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background: linear-gradient(145deg, #1e2024, #23272b);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .portfolio .portfolio-detail .card .img-container {
  width: 100%;
  height: 150px;
}
.main .portfolio .portfolio-detail .card .img-container img {
  width: 100%;
  height: 100%;
}
.main .portfolio .portfolio-detail .card .card-body .card-title {
  color: #c4cfde;
  text-align: left;
}
.main .portfolio .portfolio-detail .card .card-body .live-link {
  color: #c4cfde;
}
.main .portfolio .portfolio-detail .card .card-body .live-link:hover {
  color: #e27c61;
}
.main .portfolio .portfolio-detail .card:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}
.main .mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
.main .footer {
  padding: 5% 0;
  background: #212428 !important;
}
.main .footer .footer-details h3 {
  color: #c4cfde;
}
.main .footer .footer-details p,
.main .footer .footer-details .p,
.main .footer .footer-details .nav-link {
  color: #fefefe;
}/*# sourceMappingURL=global.css.map */