@use "colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  .navbar {
    background: colors.$primaryColor !important;
    &-brand,
    .nav-link {
      color: colors.$secondaryColor !important;
    }
    &-brand-container {
      flex: 1;
    }
    .nav {
      display: none;
    }
    .navbar-brand {
      // background: colors.$smallBgColor !important;
      background: linear-gradient(to bottom, #b4494f, colors.$smallBgColor);
      color: colors.$secondaryColor !important;
      padding: 0.5rem 1rem;
    }
    .nav-toggler {
      display: none;
    }
    &-list {
      flex: 1;

      .navbar-nav {
        .nav-item {
          margin: 0 1rem !important;
        }
      }
    }

    @media screen and (max-width: 992px) {
      .nav-toggler {
        display: block;
      }
      .navbar-list {
        display: none;
      }
      .nav {
        background: colors.$primaryColor !important;
      }
      .open {
        background: colors.$primaryColor !important;
      }
    }
  }
  .hero {
    background: colors.$primaryColor !important;
    // height: 100vh;
    padding: 10% 0;
    .hero-container {
      height: 100% !important;
      .hero-row {
        height: 100% !important;

        .hero-name {
          font-family: colors.$poppins !important;
          font-weight: 600 !important;
          color: colors.$importantColor !important;
        }

        p {
          color: colors.$secondaryColor !important;
          span {
            color: colors.$importantColor !important;
          }
        }

        .resume {
          // background: colors.$primaryColor !important;
          color: colors.$secondaryColor !important;
          border: 2px solid colors.$importantColor;
          // border: none;
          font-family: colors.$railway !important;
          background: linear-gradient(
            to bottom,
            colors.$primaryColor,
            colors.$primaryColor1
          );
          box-shadow: 0px 0px 20px 0px #f2f2f220;
        }
      }
    }
  }

  // About Section

  .about {
    background: colors.$primaryColor1;
    color: colors.$secondaryColor !important;
    width: 100%;
    // padding: 10% 0;

    // height: 100vh !important;
    .about-container {
      padding: 5% 0;
      .about-col {
        .about-img {
          width: 500px;
          height: 450px;
          @media screen and (max-width: 762px) {
            width: 100% !important;
          }
          object-fit: cover;
          .img-fluid {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .about-info {
          height: 450px !important;
          .about-text {
            line-height: 2rem;
            color: colors.$secondaryColor1 !important;
            font-family: colors.$railway;
            font-weight: 400;
          }
          .about-social {
            width: 100%;
            .about-social-text {
              border-right: 2px solid colors.$secondaryColor1;
              border-left: 2px solid colors.$secondaryColor1;
              color: #00b4d8;
            }
            .about-icon {
              width: 50px;
              height: 50px;
              color: colors.$secondaryColor;
              background: linear-gradient(
                to bottom,
                colors.$primaryColor,
                colors.$primaryColor1
              );
              box-shadow: 0px 0px 20px 0px #f2f2f220;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              //border: 1px solid colors.$secondaryColor1;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  //common
  .about-header,
  .education-header,
  .skills-header,
  .services-header,
  .portfolio-header {
    font-family: colors.$poppins !important;
    font-weight: 100 !important;
    letter-spacing: 1px;

    h1 {
      color: colors.$importantColor !important;
    }
  }

  .education {
    background: colors.$primaryColor1;
    padding: 5% 0;
    .education-detail {
      margin: 1rem 0;
      .educations {
        width: 350px;
        height: 300px;
        color: colors.$secondaryColor;
        // background: linear-gradient(
        //   to bottom,
        //   colors.$primaryColor,
        //   colors.$primaryColor1
        // );
        background: linear-gradient(45deg, rgb(30, 32, 36), rgb(35, 39, 43));
        // box-shadow: 0px 0px 20px 0px #f2f2f220;
        box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px,
          rgb(38, 42, 46) -10px -10px 19px 0px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        .date {
          color: colors.$secondaryColor1;
        }
        .program1 {
          color: #f06c50 !important;
        }
        .program2 {
          color: #f06c50;
        }
        .program3 {
          color: #f06c50;
        }
        .institute {
          color: colors.$secondaryColor1;
        }
        .program {
          font-weight: 600;
          font-family: colors.$poppins;
          letter-spacing: 1px;
        }
        .date,
        .institute {
          font-weight: 500;
          font-family: colors.$railway;
        }
      }
      .education-icon {
        width: 60px;
        height: 60px;

        .svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .skills {
    background: colors.$primaryColor;
    padding: 5% 0;
    .skills-container {
      .skills-header {
        .div {
          width: 100px;
          height: 100px;
          background: #b4494f;
        }
      }
      .skills-detail {
        .common {
          margin: 1rem 0;
          .skill-container {
            margin: 1rem 0;
            .skill-cont {
              margin-bottom: 0.5rem;
            }
          }
          .common-text {
            color: colors.$secondaryColor;
            font-family: colors.$poppins;
            font-weight: 300;
          }
          .skill-text,
          .skill-percent {
            font-family: colors.$railway;
            color: colors.$secondaryColor1;
          }
          .skill-bar {
            width: 100%;
            height: 10px;
            // background: #00b4d8;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            background: #212428;
            box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4588235294),
              inset -8px -8px 16px rgba(56, 62, 69, 0.4588235294);

            .skill-progress {
              background: linear-gradient(
                145deg,
                colors.$importantColor 0%,
                colors.$smallBgColor 100%
              );
              // width: 90%;
              height: 10px;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
            }
          }
        }
      }
    }
  }
  .services {
    background: colors.$primaryColor;
    padding: 5% 0;
    .services-detail {
      margin: 1rem 0;
      .h2 {
        color: colors.$secondaryColor;
        font-family: colors.$poppins;
        font-weight: 300;
        margin: 1rem 0;
      }
      .p {
        color: colors.$secondaryColor1;
        font-family: colors.$railway;
        font-weight: 400;
        line-height: 1.8rem;
        margin: 0 1rem;
      }
      .services-icon .icon {
        color: colors.$smallBgColor;
      }
      .services-col {
        color: colors.$secondaryColor;
        padding: 1rem 0;
        // background: linear-gradient(
        //   to bottom,
        //   colors.$primaryColor,
        //   colors.$primaryColor1
        // );
        background: linear-gradient(45deg, rgb(30, 32, 36), rgb(35, 39, 43));
        // box-shadow: 0px 0px 20px 0px #f2f2f220;
        box-shadow: rgb(28, 30, 34) 10px 10px 19px 0px,
          rgb(38, 42, 46) -10px -10px 19px 0px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
  }
  .portfolio {
    padding: 5% 0;
    background: colors.$background-2;
    .portfolio-detail {
      margin: 1rem 0;
      .nav-pills {
        .nav-link {
          box-shadow: colors.$shadow-1;
          background: colors.$background-1;
          height: 70px;
          color: colors.$secondaryColor;
          text-transform: capitalize;
          font-family: colors.$railway;
          font-weight: 500;
        }
        .active {
          color: colors.$importantColor;
        }
      }
      .tab-content {
        margin-top: 2rem;
      }
      .card {
        height: 280px !important;
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
        background: linear-gradient(145deg, #1e2024, #23272b);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-container {
          width: 100%;
          height: 150px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .card-body {
          .card-title {
            color: colors.$secondaryColor1;
            text-align: left;
          }
          .live-link {
            color: colors.$secondaryColor1;
          }
          .live-link:hover {
            color: colors.$importantColor;
          }
        }
      }
      .card:hover {
        background: linear-gradient(to right bottom, #212428, #16181c);
      }
    }
  }
  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .footer {
    padding: 5% 0;
    background: colors.$background-2 !important;
    .footer-details {
      h3 {
        color: colors.$secondaryColor1;
      }
      p,
      .p,
      .nav-link {
        color: colors.$secondaryColor;
      }
    }
  }
}
